body {
  background-color: black;
}

img {
  margin: auto;
  display: block;
  width: 65%;
  height: 400px;
  margin-bottom: 100px;
}

.titulo {
  text-align: center;
  font-size: 50px;
  color: #a77918;
}

p {
  font-size: 20px;
  width: 500px;
  margin: auto;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

#imgball {
  margin: auto;
  display: block;
  width: 600px;
  height: 350px;
  margin-top: 50px;
  margin-bottom: 30px;
}

#escBar {
  width: 200px;
  height: 200px;
}

#escArg {
  width: 200px;
  height: 200px;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
